FIBER_RPC_URL=http://127.0.0.1:8227
CKB_RPC_URL=https://mainnet.ckbapp.dev
CKB_ADDRESS=ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsqdjsydf39sklhfvtfnk57vvd7d2vn4kxwqpr3prn
EXPORTER_PORT=8200
NODE_NAME=fiber-mainnet-01
GRAPH_SCRAPE_INTERVAL=300
STATE_FILE=state.json
